/*******************************************************************************
 * guardian.layout.scss
 *
 * Styling of the "guardian" layout
 * grids with Singularity.
 ******************************************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ajdelaney\/Desktop\/uiowa_standard\/sass\/layouts\/guardian\/guardian\.layout\.scss}line{font-family:\0000319}}
.panel-display--guardian {
  *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ajdelaney\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.uiowa_standard\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
  .panel-display--guardian:after {
    content: "";
    display: table;
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ajdelaney\/Desktop\/uiowa_standard\/sass\/layouts\/guardian\/guardian\.layout\.scss}line{font-family:\0000323}}
.guardian-region {
  margin-bottom: 40px; }

@media (min-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ajdelaney\/Desktop\/uiowa_standard\/sass\/layouts\/guardian\/guardian\.layout\.scss}line{font-family:\0000330}}
  .has-one-sidebar .guardian-region--first {
    width: 32.43243%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ajdelaney\/Desktop\/uiowa_standard\/sass\/layouts\/guardian\/guardian\.layout\.scss}line{font-family:\0000333}}
  .has-one-sidebar .guardian-region--second {
    width: 64.86486%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ajdelaney\/Desktop\/uiowa_standard\/sass\/layouts\/guardian\/guardian\.layout\.scss}line{font-family:\0000338}}
  .has-two-sidebars .guardian-region--first {
    width: 32.43243%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ajdelaney\/Desktop\/uiowa_standard\/sass\/layouts\/guardian\/guardian\.layout\.scss}line{font-family:\0000341}}
  .has-two-sidebars .guardian-region--second {
    width: 64.86486%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }
@media (min-width: 1250px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ajdelaney\/Desktop\/uiowa_standard\/sass\/layouts\/guardian\/guardian\.layout\.scss}line{font-family:\0000350}}
  .has-no-sidebars .guardian-region--first,
  .panels-dnd .guardian-region--first {
    width: 24.32432%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ajdelaney\/Desktop\/uiowa_standard\/sass\/layouts\/guardian\/guardian\.layout\.scss}line{font-family:\0000353}}
  .has-no-sidebars .guardian-region--second,
  .panels-dnd .guardian-region--second {
    width: 72.97297%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ajdelaney\/Desktop\/uiowa_standard\/sass\/layouts\/guardian\/guardian\.layout\.scss}line{font-family:\0000359}}
  .has-one-sidebar .guardian-region--first {
    width: 64.10256%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ajdelaney\/Desktop\/uiowa_standard\/sass\/layouts\/guardian\/guardian\.layout\.scss}line{font-family:\0000362}}
  .has-one-sidebar .guardian-region--second {
    width: 32.05128%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ajdelaney\/Desktop\/uiowa_standard\/sass\/layouts\/guardian\/guardian\.layout\.scss}line{font-family:\0000369}}
  .has-two-sidebars .guardian-region--first,
  .has-two-sidebars .guardian-region--second {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }
