@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);
.view-display-id-articles_simple .item-list ul, .view-display-id-events_simple .item-list ul, .view-display-id-people_simple .item-list ul {
  margin: 0;
  padding: 0;
}
.view-display-id-articles_simple .item-list ul li, .view-display-id-events_simple .item-list ul li, .view-display-id-people_simple .item-list ul li {
  list-style: none;
  margin-bottom: .5em;
  padding-bottom: .5em;
  border-bottom: 1px dotted #ddd;
}

.flexslider, .view-display-id-articles_teaser .views-field-field-image, .view-display-id-articles_grid .views-field-field-image, .node-type-event .field--name-field-event-geolocation, .node-type-people .node-full .field--name-field-person-image, .view-display-id-people_grid .views-field-field-person-image {
  background-color: #fff;
  position: relative;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  max-width: 100%;
}
.flexslider:before, .view-display-id-articles_teaser .views-field-field-image:before, .view-display-id-articles_grid .views-field-field-image:before, .node-type-event .field--name-field-event-geolocation:before, .node-type-people .node-full .field--name-field-person-image:before, .view-display-id-people_grid .views-field-field-person-image:before, .flexslider:after, .view-display-id-articles_teaser .views-field-field-image:after, .view-display-id-articles_grid .views-field-field-image:after, .node-type-event .field--name-field-event-geolocation:after, .node-type-people .node-full .field--name-field-person-image:after, .view-display-id-people_grid .views-field-field-person-image:after {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  height: 20px;
  background-color: #000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.2);
  z-index: -1;
}
.flexslider:before, .view-display-id-articles_teaser .views-field-field-image:before, .view-display-id-articles_grid .views-field-field-image:before, .node-type-event .field--name-field-event-geolocation:before, .node-type-people .node-full .field--name-field-person-image:before, .view-display-id-people_grid .views-field-field-person-image:before {
  top: 0px;
}
.flexslider:after, .view-display-id-articles_teaser .views-field-field-image:after, .view-display-id-articles_grid .views-field-field-image:after, .node-type-event .field--name-field-event-geolocation:after, .node-type-people .node-full .field--name-field-person-image:after, .view-display-id-people_grid .views-field-field-person-image:after {
  bottom: -4px;
}

.view-display-id-articles_teaser .views-field-view-node a, .view-display-id-articles_grid .views-field-view-node a, .view-display-id-events_grid .views-field-view-node a, .view-display-id-events_teaser .views-field-view-node a,
.node-readmore a,
.date_repeat_fm-view-all a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: .1em .6em;
  border: 3px solid #81642b;
  background: #81642b;
  color: #fff;
  font-size: 15px;
  font-size: 1.5rem;
  -webkit-transition: all, 300ms;
  -moz-transition: all, 300ms;
  -o-transition: all, 300ms;
  transition: all, 300ms;
}
.view-display-id-articles_teaser .views-field-view-node a:hover, .view-display-id-articles_grid .views-field-view-node a:hover, .view-display-id-events_grid .views-field-view-node a:hover, .view-display-id-events_teaser .views-field-view-node a:hover, .view-display-id-articles_teaser .views-field-view-node a:focus, .view-display-id-articles_grid .views-field-view-node a:focus, .view-display-id-events_grid .views-field-view-node a:focus, .view-display-id-events_teaser .views-field-view-node a:focus, .view-display-id-articles_teaser .views-field-view-node a:active, .view-display-id-articles_grid .views-field-view-node a:active, .view-display-id-events_grid .views-field-view-node a:active, .view-display-id-events_teaser .views-field-view-node a:active,
.node-readmore a:hover,
.date_repeat_fm-view-all a:hover,
.node-readmore a:focus,
.date_repeat_fm-view-all a:focus,
.node-readmore a:active,
.date_repeat_fm-view-all a:active {
  background: transparent;
  color: #81642b;
}

.element-invisible {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

@font-face {
  font-family: 'FontAwesome';
  src: url("fonts/fontawesome/fontawesome-webfont.eot?v=4.0.0");
  src: url("fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.0.0") format("embedded-opentype"), url("fonts/fontawesome/fontawesome-webfont.woff?v=4.0.0") format("woff"), url("fonts/fontawesome/fontawesome-webfont.ttf?v=4.0.0") format("truetype"), url("fonts/fontawesome/fontawesome-webfont.svg?v=4.0.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.webform-component-fieldset {
  padding: 1em;
  margin: 1em 0;
}

.webform-grid {
  width: 100%;
}

input {
  max-width: 100%;
}

.field--label-above .field__label,
.date_repeat_fm-next,
.date_repeat_fm-listing p,
.view-display-id-events_simple .views-field-field-event-date {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 600;
}

img, media {
  height: auto;
  max-width: 100%;
}

.pane-title,
.block__title {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1em;
}

table, th, tr, td {
  border-color: #ddd;
}

thead {
  border-bottom: 2px solid #aaa;
  margin-bottom: 1em;
}

th {
  background: transparent;
  font-size: 16px;
  font-size: 1.6rem;
  text-align: center;
}
th .active {
  color: #477ec2;
}
th img {
  position: relative;
  top: 3px;
  float: right;
}

th.active {
  background: url('../images/rgbapng/477ec21a-5.png?1419357247');
  background: rgba(71, 126, 194, 0.1);
}
th.active a {
  color: #336098;
}

tr.odd,
tr.even {
  background: transparent;
}

tr.even,
tr:nth-child(even) {
  background: #f1f1f1;
}

th,
td {
  padding: .3em;
}

td.active {
  background: url('../images/rgbapng/477ec21a-5.png?1419357247');
  background: rgba(71, 126, 194, 0.1);
  color: #545454;
}
td.active a {
  color: #6a5323;
}

.view td, .view th {
  border: 1px dotted #eee;
}

html {
  font-size: 62.5%;
}

body {
  color: #686868;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.8em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  margin: 0 0 .5em;
  color: #4e4e4e;
}

h2 {
  font-size: 28px;
  font-size: 2.8rem;
}

h3, h4, h5, h6 {
  font-size: 19px;
  font-size: 1.9rem;
  font-weight: 600;
}

p {
  margin: 0 0 1.5em;
}

a {
  color: #81642b;
  text-decoration: none;
  border-bottom: 1px dotted transparent;
}
a:hover, a:focus, a:active {
  border-bottom: 1px dotted #81642b;
  color: #353535;
}

hr {
  background: transparent;
  height: 1px;
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 2em 0;
}

.flexslider {
  margin: 0;
  border-left: none;
  border-right: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #fff;
}

.flexslider {
  display: block;
  margin-bottom: 40px;
  background: #222222;
}
.flexslider .flex-caption {
  width: 100%;
  padding: 1em;
  background: #222;
  color: #fff;
  overflow: hidden;
  *overflow: visible;
  *zoom: 1;
}
.flexslider .views-field-slideshow-title {
  font-weight: 600;
}
.flexslider .views-field-slideshow-description {
  font-weight: 300;
}
.flexslider .views-field-slideshow-link {
  display: block;
}
.flexslider .views-field-slideshow-link a {
  color: white;
  padding: .1em .6em;
  border: 3px solid white;
  font-size: 14px;
  font-size: 1.4rem;
  display: block;
  float: left;
  margin: 1em 0 0;
}
.flexslider .views-field-slideshow-link a:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f101";
  margin-right: 0.3em;
}

.flex-control-paging {
  text-align: left;
  bottom: -35px;
}
.flex-control-paging li {
  margin: 0 .2em 0 0;
}
.flex-control-paging li a {
  background: #777;
  border: 2px solid #777;
  width: 10px;
  height: 10px;
  -webkit-box-shadow: 0 0 0 white;
  -moz-box-shadow: 0 0 0 white;
  box-shadow: 0 0 0 white;
}
.flex-control-paging li a.flex-active {
  background: transparent;
}

.flexslider .flex-direction-nav a {
  display: block;
  top: auto;
  bottom: -25px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.flexslider .flex-direction-nav a.flex-prev, .flexslider .flex-direction-nav a.flex-next {
  background-image: none;
  text-indent: 0;
  height: auto;
  width: auto;
  font-size: 0px;
  font-size: 0rem;
  right: auto;
  left: auto;
}
.flexslider .flex-direction-nav a.flex-prev:before, .flexslider .flex-direction-nav a.flex-next:before {
  font-size: 12px;
  font-size: 1.2rem;
  color: #777;
}
.flexslider .flex-direction-nav a.flex-prev {
  right: 45px;
}
.flexslider .flex-direction-nav a.flex-prev:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f04a";
}
.flexslider .flex-direction-nav a.flex-next {
  right: 0px;
}
.flexslider .flex-direction-nav a.flex-next:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f04e";
}
.flexslider .flex-pauseplay a {
  bottom: -24px;
  left: auto;
  right: 17px;
  opacity: 1;
  text-align: center;
}
.flexslider .flex-pauseplay a.flex-pause:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f04c";
  font-size: 12px;
  color: #777777;
}
.flexslider .flex-pauseplay a.flex-play:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f04b";
  font-size: 12px;
  color: #777777;
}

.front .pane-featured-slider-featured-slider-all .pane-title {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #fff;
}

#ui-wrapper .l-container {
  width: 100%;
}

.l-container, .container {
  padding: 0 1em;
}

.l-header {
  background: #222;
  padding: 1em 0;
  border-bottom: 1px solid #333;
}

.l-navigation {
  background-color: #222;
  border-top: 1px solid #111;
}
.l-navigation .l-container {
  margin-bottom: 0;
}

.l-main-header {
  background: #efefef;
  padding: 1em 0;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.l-main-header:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  background-color: #000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.15);
  z-index: -1;
}
.l-main-header:after {
  bottom: 0px;
}

.l-footer {
  background: #222;
  padding: 2em 0;
  color: #fff;
}
.l-footer h2, .l-footer h3, .l-footer h4, .l-footer h5, .l-footer h6,
.l-footer a {
  color: #fff;
}

.l-footer {
  position: relative;
}
.l-footer .sitenow-footer-info a {
  text-decoration: underline;
  -webkit-transition: color, 300ms;
  -moz-transition: color, 300ms;
  -o-transition: color, 300ms;
  transition: color, 300ms;
}
.l-footer .sitenow-footer-info a:hover, .l-footer .sitenow-footer-info a:focus, .l-footer .sitenow-footer-info a:active {
  color: #ccc;
  text-decoration: none;
}
.l-footer #ui-global-footer {
  background: transparent;
  border: none;
  -webkit-box-shadow: 0 0 0 white;
  -moz-box-shadow: 0 0 0 white;
  box-shadow: 0 0 0 white;
  padding: 0;
  margin: 2em 0;
}
.l-footer #ui-global-footer ul {
  padding: 0;
}
.l-footer #ui-global-footer li {
  list-style-type: none;
  margin: .5em 0;
  padding: 0;
}
.l-footer #ui-global-footer a {
  color: #fff;
}
.l-footer #ui-global-footer .l-container {
  width: 100%;
}
.l-footer .hawkid-login {
  font-size: 14px;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.l-footer .hawkid-login:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f084";
  margin-right: 0.3em;
}

.site-name {
  margin: 0;
}
.site-name a {
  font-weight: 300;
  color: #fee000;
  -webkit-transition: color, 300ms;
  -moz-transition: color, 300ms;
  -o-transition: color, 300ms;
  transition: color, 300ms;
}
.site-name a:hover, .site-name a:focus, .site-name a:active {
  color: #fff;
  border-bottom: none;
}

.site-slogan {
  margin: 0;
  color: #aaaaaa;
  font-size: 20px;
  font-size: 2rem;
}

.page-title {
  margin: 0;
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: 400;
}

aside .block {
  margin-bottom: 40px;
}

.panel-pane {
  margin-bottom: 40px;
}

.more-link {
  margin-top: 1em;
}
.more-link a {
  color: #81642b;
  padding: .1em .6em;
  border: 3px solid #81642b;
  font-size: 14px;
  font-size: 1.4rem;
}
.more-link a:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f101";
}

.page-taxonomy-term article {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 4px solid #eee;
}

.views-summary {
  margin: 0;
  padding: 0;
}
.views-summary li {
  list-style: none;
  position: relative;
  padding-right: 40px;
  margin-bottom: .5em;
  padding-bottom: .5em;
  border-bottom: 1px dotted #ddd;
}
.views-summary .summary-count {
  position: absolute;
  top: 3px;
  right: 0;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #686868;
  border: 1px solid #ccc;
  padding: .1em .3em;
  text-align: center;
  min-width: 25px;
}
.views-summary .has-filter:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f057";
  margin-right: 0.2em;
  color: #777777;
}
.views-summary .has-filter:hover:before, .views-summary .has-filter:focus:before, .views-summary .has-filter:active:before {
  color: #a14557;
}
.views-summary .has-filter .label {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.section-articles .pane-articles-articles-teaser .pane-title {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.view-display-id-articles_grid .view-content {
  *zoom: 1;
}
.view-display-id-articles_grid .view-content:after {
  content: "";
  display: table;
  clear: both;
}
.view-display-id-articles_grid .views-row {
  margin-bottom: 1em;
}

.view-display-id-articles_teaser .views-row, .view-display-id-articles_grid .views-row {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 4px solid #eee;
}
.view-display-id-articles_teaser .views-field, .view-display-id-articles_grid .views-field {
  margin-bottom: 1em;
}
.view-display-id-articles_teaser .views-field-title h3, .view-display-id-articles_grid .views-field-title h3 {
  margin-bottom: 0;
}
.view-display-id-articles_teaser .views-field-title a, .view-display-id-articles_grid .views-field-title a {
  font-weight: 200;
  font-size: 26px;
  font-size: 2.6rem;
}
.view-display-id-articles_teaser .views-field-field-image, .view-display-id-articles_grid .views-field-field-image {
  line-height: 0;
}

.page-events .pane-events-events-teaser .pane-title {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.node-type-event .pane-node-title {
  margin-bottom: 0;
}
.node-type-event .field--name-field-event-geolocation {
  display: block;
}

.date_repeat_fm-next {
  text-transform: uppercase;
  font-style: italic;
}
.date_repeat_fm-next .date_repeat_fm-duration {
  display: block;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  margin-top: .2em;
}

.date_repeat_fm-view-all {
  text-align: right;
  display: block;
}

.date_repeat_fm-listing {
  padding: 1em;
  border: 1px solid #eee;
}
.date_repeat_fm-listing p {
  text-transform: uppercase;
  font-style: italic;
  margin: 0;
  margin-bottom: .5em;
}
.date_repeat_fm-listing ul {
  margin: 0;
  padding: 0;
}
.date_repeat_fm-listing ul li {
  display: block;
  margin-bottom: .2em;
  padding-bottom: .2em;
  border-bottom: 1px dotted #ddd;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 1;
}

.view-display-id-events_grid .view-content {
  *zoom: 1;
}
.view-display-id-events_grid .view-content:after {
  content: "";
  display: table;
  clear: both;
}
.view-display-id-events_grid .views-row {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 4px solid #eee;
}
.view-display-id-events_grid .views-field-field-event-date-2 {
  text-align: center;
  margin-bottom: 1em;
}
.view-display-id-events_grid .views-field-field-event-date-2 .field-event-start-day {
  font-size: 100px;
  font-size: 10rem;
  font-weight: 200;
  margin-top: -24px;
  padding-top: 4px;
}
.view-display-id-events_grid .views-field-title {
  margin-bottom: .3em;
}
.view-display-id-events_grid .views-field-title a {
  font-weight: 200;
  font-size: 26px;
  font-size: 2.6rem;
}
.view-display-id-events_grid .views-field-field-event-date {
  margin-bottom: .3em;
}
.view-display-id-events_grid .views-field-field-event-date .field-content:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f073";
}
.view-display-id-events_grid .views-field-field-event-date-3 {
  margin-bottom: .3em;
}
.view-display-id-events_grid .views-field-field-event-date-3 .field-content:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f017";
}
.view-display-id-events_grid .views-field-field-event-location {
  margin-bottom: .3em;
}
.view-display-id-events_grid .views-field-field-event-location .name-block .name-block:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f041";
}
.view-display-id-events_grid .views-field-field-event-description {
  border-top: 1px dotted #ccc;
  margin-top: .5em;
  padding-top: .7em;
}
.view-display-id-events_grid .views-field-view-node a {
  margin-top: 1em;
}

.view-display-id-events_grid .views-field-field-event-date .field-content:before, .view-display-id-events_grid .views-field-field-event-date-3 .field-content:before, .view-display-id-events_grid .views-field-field-event-location .name-block .name-block:before, .view-display-id-events_teaser .views-field-field-event-date .field-content:before, .view-display-id-events_teaser .views-field-field-event-date-3 .field-content:before, .view-display-id-events_teaser .views-field-field-event-location .name-block .name-block:before, .pane-localist-pane .lwn .lwn0:before, .pane-localist-pane .lwl .lwl0:before {
  width: 15px;
  margin-right: 10px;
  text-align: center;
  font-size: 16px;
  position: relative;
  top: -1px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.view-display-id-events_teaser .views-row {
  overflow: hidden;
  *overflow: visible;
  *zoom: 1;
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 4px solid #eee;
}
.view-display-id-events_teaser .views-field-field-event-date-2 {
  text-align: center;
  margin-bottom: 1em;
}
.view-display-id-events_teaser .views-field-field-event-date-2 .field-event-start-day {
  font-size: 100px;
  font-size: 10rem;
  font-weight: 200;
  margin-top: -24px;
  padding-top: 4px;
}
.view-display-id-events_teaser .views-field-title {
  margin-bottom: .3em;
}
.view-display-id-events_teaser .views-field-title a {
  font-weight: 200;
  font-size: 26px;
  font-size: 2.6rem;
}
.view-display-id-events_teaser .views-field-field-event-date {
  margin-bottom: .3em;
}
.view-display-id-events_teaser .views-field-field-event-date .field-content:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f073";
}
.view-display-id-events_teaser .views-field-field-event-date-3 {
  margin-bottom: .3em;
}
.view-display-id-events_teaser .views-field-field-event-date-3 .field-content:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f017";
}
.view-display-id-events_teaser .views-field-field-event-location {
  margin-bottom: .3em;
}
.view-display-id-events_teaser .views-field-field-event-location .name-block .name-block:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f041";
}
.view-display-id-events_teaser .views-field-field-event-description {
  border-top: 1px dotted #ccc;
  margin-top: .5em;
  padding-top: .7em;
}

.pane-localist-pane #lwe {
  margin: 0;
  padding: 0;
}
.pane-localist-pane .lwe {
  overflow: hidden;
  *overflow: visible;
  *zoom: 1;
  list-style: none;
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 4px solid #eee;
}
.pane-localist-pane .lwn .lwn0 {
  display: block;
  margin-bottom: .3em;
}
.pane-localist-pane .lwn .lwn0:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f073";
}
.pane-localist-pane .lwn a {
  display: block;
  margin-bottom: .3em;
  font-weight: 200;
  font-size: 26px;
  font-size: 2.6rem;
}
.pane-localist-pane .lwi1,
.pane-localist-pane .lwi0 {
  display: block;
  line-height: 0;
}
.pane-localist-pane .lwi1 a,
.pane-localist-pane .lwi0 a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  float: right;
  margin: 0 0 1em 1em;
  border-color: transparent;
}
.pane-localist-pane .lwl .lwl0 {
  margin-right: .5em;
}
.pane-localist-pane .lwl .lwl0:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f041";
  text-indent: 0;
}

.breadcrumb {
  font-size: 14px;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  list-style: none;
  font-weight: 600;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
.breadcrumb .breadcrumb-seperator {
  margin: 0 .5em;
}

#sitenow-footer-menu ul {
  margin: 0;
  padding: 0;
}
#sitenow-footer-menu li {
  list-style-type: none;
  margin: .5em 0;
}
#sitenow-footer-menu a {
  display: block;
  font-size: 12px;
  font-size: 1.2rem;
}
#sitenow-footer-menu a:before {
  margin-right: .3em;
  font-size: 25px;
  font-size: 2.5rem;
  position: relative;
  top: 4px;
}
#sitenow-footer-menu a[href*="facebook.com"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f082";
}
#sitenow-footer-menu a[href*="twitter.com"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f099";
}
#sitenow-footer-menu a[href*="youtube.com"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f167";
}
#sitenow-footer-menu a[href*="flickr.com"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f16e";
}

.l-region--navigation .block--responsive-navigation-1 .block__title {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.l-region--navigation .block--responsive-navigation-1 #nav-toggle {
  display: block;
  padding: .75em 5px;
  text-align: center;
  color: #fff;
  -webkit-transition: all, 300ms;
  -moz-transition: all, 300ms;
  -o-transition: all, 300ms;
  transition: all, 300ms;
}
.l-region--navigation .block--responsive-navigation-1 #nav-toggle:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f0c9";
  margin-right: 0.5em;
}
.l-region--navigation .block--responsive-navigation-1 #nav-toggle:hover, .l-region--navigation .block--responsive-navigation-1 #nav-toggle:focus, .l-region--navigation .block--responsive-navigation-1 #nav-toggle:active {
  background-color: #333;
  border: none;
}
.l-region--navigation .block--responsive-navigation-1 #nav .responsive-navigation {
  margin: 0;
  padding: 0;
  font-weight: 400;
}
.l-region--navigation .block--responsive-navigation-1 #nav .responsive-navigation .leaf,
.l-region--navigation .block--responsive-navigation-1 #nav .responsive-navigation .collapsed,
.l-region--navigation .block--responsive-navigation-1 #nav .responsive-navigation .expanded {
  list-style-type: none;
  list-style-image: none;
}
.l-region--navigation .block--responsive-navigation-1 #nav .responsive-navigation a {
  display: block;
  padding: .75em 0;
  color: #f5f5f5;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all, 100ms;
  -moz-transition: all, 100ms;
  -o-transition: all, 100ms;
  transition: all, 100ms;
}
.l-region--navigation .block--responsive-navigation-1 #nav .responsive-navigation .active-trail a,
.l-region--navigation .block--responsive-navigation-1 #nav .responsive-navigation .active {
  color: #fee000;
}
.l-region--navigation .block--responsive-navigation-1 #nav .responsive-navigation ul {
  display: none;
}

.block--menu-block-sitenow-menu-block .menu {
  margin: 0;
  padding: 0;
}
.block--menu-block-sitenow-menu-block .menu li {
  border-bottom: 1px solid #ccc;
  margin-bottom: .5em;
  padding-bottom: .5em;
}
.block--menu-block-sitenow-menu-block .menu .leaf,
.block--menu-block-sitenow-menu-block .menu .expanded,
.block--menu-block-sitenow-menu-block .menu .collapsed {
  list-style-type: none;
  list-style-image: none;
}
.block--menu-block-sitenow-menu-block .menu .collapsed,
.block--menu-block-sitenow-menu-block .menu .expanded {
  position: relative;
}
.block--menu-block-sitenow-menu-block .menu .collapsed > a:after,
.block--menu-block-sitenow-menu-block .menu .expanded > a:after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f107";
  color: #aaaaaa;
  position: absolute;
  right: 0;
  top: 3px;
}
.block--menu-block-sitenow-menu-block .menu .collapsed > a.active:after,
.block--menu-block-sitenow-menu-block .menu .expanded > a.active:after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f104";
}
.block--menu-block-sitenow-menu-block .menu a {
  display: block;
  padding-right: 15px;
}
.block--menu-block-sitenow-menu-block .menu a:hover, .block--menu-block-sitenow-menu-block .menu a:focus, .block--menu-block-sitenow-menu-block .menu a:active {
  border-color: transparent;
}
.block--menu-block-sitenow-menu-block .menu ul {
  margin-top: .5em;
  font-size: 14px;
  font-size: 1.4rem;
}
.block--menu-block-sitenow-menu-block .menu ul li {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.block--menu-block-sitenow-menu-block .menu ul ul {
  padding-left: 1em;
}

.page-people .pane-people-people-grid .pane-title {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.node-type-people .node-full .node__content {
  *zoom: 1;
}
.node-type-people .node-full .node__content:after {
  content: "";
  display: table;
  clear: both;
}
.node-type-people .node-full > h2 {
  font-weight: 700;
  font-size: 30px;
  font-size: 3rem;
  margin-bottom: .5em;
}
.node-type-people .node-full .field--label-above {
  margin-top: .75em;
}
.node-type-people .node-full .field--name-field-person-image {
  line-height: 0;
  margin-bottom: 1em;
}
.node-type-people .node-full .field--name-field-person-position .field__items {
  font-size: 22px;
  font-size: 2.2rem;
  font-style: italic;
}
.node-type-people .node-full .field--name-field-person-email {
  margin-bottom: .5em;
}
.node-type-people .node-full .field--name-field-person-bio {
  margin-top: 1em;
}

.view-display-id-people_grid .view-content {
  *zoom: 1;
}
.view-display-id-people_grid .view-content:after {
  content: "";
  display: table;
  clear: both;
}
.view-display-id-people_grid .views-row {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 4px solid #eee;
}
.view-display-id-people_grid .views-field {
  margin-bottom: .3em;
}
.view-display-id-people_grid .views-field-title h3 {
  margin-bottom: 0;
}
.view-display-id-people_grid .views-field-title a {
  font-weight: 200;
  font-size: 26px;
  font-size: 2.6rem;
}
.view-display-id-people_grid .views-field-field-person-image {
  line-height: 0;
}

.view-display-id-people_table caption {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.view-display-id-people_table .views-field-field-person-image {
  line-height: 0;
}
