@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/utilities\/_classes\.scss}line{font-family:\000032}}
.view-display-id-articles_simple .item-list ul {
  margin: 0;
  padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/utilities\/_classes\.scss}line{font-family:\000036}}
  .view-display-id-articles_simple .item-list ul li {
    list-style: none;
    margin-bottom: .5em;
    padding-bottom: .5em;
    border-bottom: 1px dotted #ddd; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/utilities\/_classes\.scss}line{font-family:\0000315}}
.flexslider, .view-display-id-articles_teaser .views-field-field-image, .view-display-id-articles_grid .views-field-field-image {
  background-color: #fff;
  position: relative;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/utilities\/_classes\.scss}line{font-family:\0000323}}
  .flexslider:before, .view-display-id-articles_teaser .views-field-field-image:before, .view-display-id-articles_grid .views-field-field-image:before, .flexslider:after, .view-display-id-articles_teaser .views-field-field-image:after, .view-display-id-articles_grid .views-field-field-image:after {
    content: "";
    position: absolute;
    left: 10px;
    right: 10px;
    height: 20px;
    background-color: #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.2);
    z-index: -1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/utilities\/_classes\.scss}line{font-family:\0000335}}
  .flexslider:before, .view-display-id-articles_teaser .views-field-field-image:before, .view-display-id-articles_grid .views-field-field-image:before {
    top: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/utilities\/_classes\.scss}line{font-family:\0000339}}
  .flexslider:after, .view-display-id-articles_teaser .views-field-field-image:after, .view-display-id-articles_grid .views-field-field-image:after {
    bottom: -4px; }

@font-face {
  font-family: 'FontAwesome';
  src: url("fonts/fontawesome/fontawesome-webfont.eot?v=4.0.0");
  src: url("fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.0.0") format("embedded-opentype"), url("fonts/fontawesome/fontawesome-webfont.woff?v=4.0.0") format("woff"), url("fonts/fontawesome/fontawesome-webfont.ttf?v=4.0.0") format("truetype"), url("fonts/fontawesome/fontawesome-webfont.svg?v=4.0.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/base\/_panel_panes\.scss}line{font-family:\000032}}
.pane-title,
.block__title {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/base\/_typography\.scss}line{font-family:\000031}}
html {
  font-size: 62.5%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/base\/_typography\.scss}line{font-family:\000035}}
body {
  color: #777777;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-size: 1.8rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/base\/_typography\.scss}line{font-family:\0000316}}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  margin: 0 0 .5em;
  color: #5e5e5e; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/base\/_typography\.scss}line{font-family:\0000323}}
h2 {
  font-size: 28px;
  font-size: 2.8rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/base\/_typography\.scss}line{font-family:\0000327}}
h3, h4, h5, h6 {
  font-size: 19px;
  font-size: 1.9rem;
  font-weight: 600; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/base\/_typography\.scss}line{font-family:\0000332}}
p {
  margin: 0 0 1.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/base\/_typography\.scss}line{font-family:\0000336}}
a {
  color: #81642b;
  text-decoration: none;
  border-bottom: 1px dotted transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/base\/_typography\.scss}line{font-family:\0000343}}
  a:hover, a:focus, a:active {
    border-bottom: 1px dotted #81642b;
    color: #444444; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/base\/_typography\.scss}line{font-family:\0000349}}
hr {
  background: transparent;
  height: 1px;
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 2em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_flexslider\.scss}line{font-family:\000031}}
.flexslider {
  margin: 0;
  border-left: none;
  border-right: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_flexslider\.scss}line{font-family:\000039}}
  .flexslider .slides img {
    height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_flexslider\.scss}line{font-family:\0000314}}
.flexslider {
  margin-bottom: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_flexslider\.scss}line{font-family:\0000318}}
  .flexslider .views-field-title {
    width: 100%;
    padding: 1em;
    background: #222;
    color: #fff;
    overflow: hidden;
    *overflow: visible;
    *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_flexslider\.scss}line{font-family:\0000326}}
  .flexslider .views-field-slideshow-title {
    font-weight: 600; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_flexslider\.scss}line{font-family:\0000330}}
  .flexslider .views-field-slideshow-description {
    font-weight: 300; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_flexslider\.scss}line{font-family:\0000334}}
  .flexslider .views-field-slideshow-link {
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_flexslider\.scss}line{font-family:\0000337}}
    .flexslider .views-field-slideshow-link a {
      color: white;
      padding: .1em .6em;
      border: 3px solid white;
      font-size: 14px;
      font-size: 1.4rem;
      display: block;
      float: left;
      margin: 1em 0 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_flexslider\.scss}line{font-family:\0000344}}
      .flexslider .views-field-slideshow-link a:before {
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        text-decoration: inherit;
        -webkit-font-smoothing: antialiased;
        *margin-right: .3em;
        content: "\f101";
        margin-right: 0.3em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_flexslider\.scss}line{font-family:\0000352}}
.flex-control-paging {
  text-align: left;
  bottom: -35px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_flexslider\.scss}line{font-family:\0000356}}
  .flex-control-paging li {
    margin: 0 .2em 0 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_flexslider\.scss}line{font-family:\0000359}}
    .flex-control-paging li a {
      background: #777;
      border: 2px solid #777;
      width: 10px;
      height: 10px;
      -webkit-box-shadow: 0 0 0 white;
      -moz-box-shadow: 0 0 0 white;
      box-shadow: 0 0 0 white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_flexslider\.scss}line{font-family:\0000367}}
    .flex-control-paging li a.flex-active {
      background: transparent; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_flexslider\.scss}line{font-family:\0000375}}
.flexslider .flex-direction-nav a {
  display: block;
  top: auto;
  bottom: -25px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_flexslider\.scss}line{font-family:\0000382}}
  .flexslider .flex-direction-nav a.flex-prev, .flexslider .flex-direction-nav a.flex-next {
    background-image: none;
    text-indent: 0;
    height: auto;
    width: auto;
    font-size: 0px;
    font-size: 0rem;
    right: auto;
    left: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_flexslider\.scss}line{font-family:\0000391}}
    .flexslider .flex-direction-nav a.flex-prev:before, .flexslider .flex-direction-nav a.flex-next:before {
      font-size: 12px;
      font-size: 1.2rem;
      color: #777; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_flexslider\.scss}line{font-family:\0000397}}
  .flexslider .flex-direction-nav a.flex-prev {
    right: 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_flexslider\.scss}line{font-family:\00003100}}
    .flexslider .flex-direction-nav a.flex-prev:before {
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      text-decoration: inherit;
      -webkit-font-smoothing: antialiased;
      *margin-right: .3em;
      content: "\f04a"; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_flexslider\.scss}line{font-family:\00003105}}
  .flexslider .flex-direction-nav a.flex-next {
    right: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_flexslider\.scss}line{font-family:\00003108}}
    .flexslider .flex-direction-nav a.flex-next:before {
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      text-decoration: inherit;
      -webkit-font-smoothing: antialiased;
      *margin-right: .3em;
      content: "\f04e"; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_flexslider\.scss}line{font-family:\00003125}}
.flexslider .flex-pauseplay {
  bottom: 3px;
  height: auto;
  width: auto;
  right: 33px;
  overflow: hidden;
  position: absolute;
  font-size: 0px;
  font-size: 0rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_flexslider\.scss}line{font-family:\00003135}}
.flexslider .flex-pause:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f04c";
  font-size: 12px;
  color: #777777; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_flexslider\.scss}line{font-family:\00003139}}
.flexslider .flex-play:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f04b";
  font-size: 12px;
  color: #777777; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_page\.scss}line{font-family:\000031}}
.l-header {
  background: #222;
  padding: 1em 0;
  border-bottom: 1px solid #333; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_page\.scss}line{font-family:\000037}}
.l-navigation {
  background-color: #222;
  border-top: 1px solid #111; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_page\.scss}line{font-family:\0000311}}
  .l-navigation .l-container {
    margin-bottom: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_page\.scss}line{font-family:\0000316}}
.l-main-header {
  background: #efefef;
  padding: 1em 0;
  border-bottom: 1px solid #ddd;
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_page\.scss}line{font-family:\0000322}}
  .l-main-header:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.15);
    z-index: -1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_page\.scss}line{font-family:\0000333}}
  .l-main-header:after {
    bottom: 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_page\.scss}line{font-family:\0000338}}
.l-footer {
  background: #222;
  padding: 2em 0;
  color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_page\.scss}line{font-family:\0000344}}
  .l-footer h2, .l-footer h3, .l-footer h4, .l-footer h5, .l-footer h6,
  .l-footer a {
    color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_page\.scss}line{font-family:\0000349}}
.site-name {
  margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_page\.scss}line{font-family:\0000352}}
  .site-name a {
    font-weight: 300;
    color: #fee000;
    -webkit-transition: color, 300ms;
    -moz-transition: color, 300ms;
    -o-transition: color, 300ms;
    transition: color, 300ms; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_page\.scss}line{font-family:\0000359}}
    .site-name a:hover, .site-name a:focus, .site-name a:active {
      color: #fff;
      border-bottom: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_page\.scss}line{font-family:\0000366}}
.site-slogan {
  margin: 0;
  color: #aaaaaa;
  font-size: 20px;
  font-size: 2rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_page\.scss}line{font-family:\0000372}}
.page-title {
  margin: 0;
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: 400; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_page\.scss}line{font-family:\0000379}}
.front .pane-featured-slider-featured-slider-all .pane-title {
  border: 0;
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_page\.scss}line{font-family:\0000384}}
aside .block {
  margin-bottom: 40px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_page\.scss}line{font-family:\0000388}}
.panel-pane {
  margin-bottom: 40px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_page\.scss}line{font-family:\0000392}}
.more-link {
  margin-top: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_page\.scss}line{font-family:\0000395}}
  .more-link a {
    color: #81642b;
    padding: .1em .6em;
    border: 3px solid #81642b;
    font-size: 14px;
    font-size: 1.4rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_page\.scss}line{font-family:\0000398}}
    .more-link a:before {
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      text-decoration: inherit;
      -webkit-font-smoothing: antialiased;
      *margin-right: .3em;
      content: "\f101"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_page\.scss}line{font-family:\00003104}}
.omega-browser-width {
  z-index: 999999; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_page\.scss}line{font-family:\00003108}}
.panels-choose-layout .current-layout {
  background: #E6F9FF;
  -webkit-box-shadow: 0px 0px 4px #aee2fe inset;
  -moz-box-shadow: 0px 0px 4px #aee2fe inset;
  box-shadow: 0px 0px 4px #aee2fe inset; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_views_summary\.scss}line{font-family:\000031}}
.views-summary {
  margin: 0;
  padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_views_summary\.scss}line{font-family:\000035}}
  .views-summary li {
    list-style: none;
    position: relative;
    padding-right: 40px;
    margin-bottom: .5em;
    padding-bottom: .5em;
    border-bottom: 1px dotted #ddd; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/_views_summary\.scss}line{font-family:\0000314}}
  .views-summary .summary-count {
    position: absolute;
    top: 3px;
    right: 0;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #777777;
    border: 1px solid #ccc;
    padding: .1em .3em;
    text-align: center;
    min-width: 25px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/articles_feature\/_panel_articles\.scss}line{font-family:\000033}}
.section-articles .pane-articles-articles-teaser .pane-title {
  border: 0;
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/articles_feature\/_view_articles_grid\.scss}line{font-family:\000035}}
.view-display-id-articles_grid .view-content {
  *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ajdelaney\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.uiowa_standard\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
  .view-display-id-articles_grid .view-content:after {
    content: "";
    display: table;
    clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/articles_feature\/_view_articles_grid\.scss}line{font-family:\000039}}
.view-display-id-articles_grid .views-row {
  margin-bottom: 1em; }
  @media (min-width: 700px) and (max-width: 1249px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/articles_feature\/_view_articles_grid\.scss}line{font-family:\0000312}}
    .has-no-sidebars .view-display-id-articles_grid .views-row {
      width: 32.20339%;
      clear: right;
      float: left;
      margin-left: 0;
      margin-right: 1.69492%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/articles_feature\/_view_articles_grid\.scss}line{font-family:\0000316}}
      .has-no-sidebars .view-display-id-articles_grid .views-row:nth-child(3n+1) {
        width: 32.20339%;
        clear: right;
        float: left;
        margin-left: 0;
        margin-right: 1.69492%;
        clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/articles_feature\/_view_articles_grid\.scss}line{font-family:\0000319}}
      .has-no-sidebars .view-display-id-articles_grid .views-row:nth-child(3n+3) {
        width: 32.20339%;
        clear: right;
        float: right;
        margin-right: 0; } }
  @media (min-width: 1250px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/articles_feature\/_view_articles_grid\.scss}line{font-family:\0000312}}
    .has-no-sidebars .view-display-id-articles_grid .views-row {
      width: 23.72881%;
      clear: right;
      float: left;
      margin-left: 0;
      margin-right: 1.69492%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/articles_feature\/_view_articles_grid\.scss}line{font-family:\0000326}}
      .has-no-sidebars .view-display-id-articles_grid .views-row:nth-child(4n+1) {
        width: 23.72881%;
        clear: right;
        float: left;
        margin-left: 0;
        margin-right: 1.69492%;
        clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/articles_feature\/_view_articles_grid\.scss}line{font-family:\0000329}}
      .has-no-sidebars .view-display-id-articles_grid .views-row:nth-child(4n+4) {
        width: 23.72881%;
        clear: right;
        float: right;
        margin-right: 0; } }
  @media (min-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/articles_feature\/_view_articles_grid\.scss}line{font-family:\0000335}}
    .has-one-sidebar .view-display-id-articles_grid .views-row {
      width: 32.20339%;
      clear: right;
      float: left;
      margin-left: 0;
      margin-right: 1.69492%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/articles_feature\/_view_articles_grid\.scss}line{font-family:\0000339}}
      .has-one-sidebar .view-display-id-articles_grid .views-row:nth-child(3n+1) {
        width: 32.20339%;
        clear: right;
        float: left;
        margin-left: 0;
        margin-right: 1.69492%;
        clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/articles_feature\/_view_articles_grid\.scss}line{font-family:\0000342}}
      .has-one-sidebar .view-display-id-articles_grid .views-row:nth-child(3n+3) {
        width: 32.20339%;
        clear: right;
        float: right;
        margin-right: 0; } }
  @media (min-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/articles_feature\/_view_articles_grid\.scss}line{font-family:\0000348}}
    .has-two-sidebars .view-display-id-articles_grid .views-row {
      width: 32.20339%;
      clear: right;
      float: left;
      margin-left: 0;
      margin-right: 1.69492%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/articles_feature\/_view_articles_grid\.scss}line{font-family:\0000352}}
      .has-two-sidebars .view-display-id-articles_grid .views-row:nth-child(3n+1) {
        width: 32.20339%;
        clear: right;
        float: left;
        margin-left: 0;
        margin-right: 1.69492%;
        clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/articles_feature\/_view_articles_grid\.scss}line{font-family:\0000355}}
      .has-two-sidebars .view-display-id-articles_grid .views-row:nth-child(3n+3) {
        width: 32.20339%;
        clear: right;
        float: right;
        margin-right: 0; } }
  @media (min-width: 1250px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/articles_feature\/_view_articles_grid\.scss}line{font-family:\0000348}}
    .has-two-sidebars .view-display-id-articles_grid .views-row {
      width: 49.15254%;
      clear: right;
      float: left;
      margin-left: 0;
      margin-right: 1.69492%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/articles_feature\/_view_articles_grid\.scss}line{font-family:\0000362}}
      .has-two-sidebars .view-display-id-articles_grid .views-row:nth-child(odd) {
        width: 49.15254%;
        clear: right;
        float: left;
        margin-left: 0;
        margin-right: 1.69492%;
        clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/articles_feature\/_view_articles_grid\.scss}line{font-family:\0000365}}
      .has-two-sidebars .view-display-id-articles_grid .views-row:nth-child(even) {
        width: 49.15254%;
        clear: right;
        float: right;
        margin-right: 0; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/articles_feature\/_view_articles_teaser\.scss}line{font-family:\000033}}
.view-display-id-articles_teaser .views-row, .view-display-id-articles_grid .views-row {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 4px solid #eee; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/articles_feature\/_view_articles_teaser\.scss}line{font-family:\000039}}
.view-display-id-articles_teaser .views-field, .view-display-id-articles_grid .views-field {
  margin-bottom: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/articles_feature\/_view_articles_teaser\.scss}line{font-family:\0000315}}
.view-display-id-articles_teaser .views-field-title h3, .view-display-id-articles_grid .views-field-title h3 {
  margin-bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/articles_feature\/_view_articles_teaser\.scss}line{font-family:\0000319}}
.view-display-id-articles_teaser .views-field-title a, .view-display-id-articles_grid .views-field-title a {
  font-weight: 100;
  font-size: 26px;
  font-size: 2.6rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/articles_feature\/_view_articles_teaser\.scss}line{font-family:\0000325}}
.view-display-id-articles_teaser .views-field-field-image, .view-display-id-articles_grid .views-field-field-image {
  line-height: 0;
  max-width: 500px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  max-width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/articles_feature\/_view_articles_teaser\.scss}line{font-family:\0000332}}
  .view-display-id-articles_teaser .views-field-field-image img, .view-display-id-articles_grid .views-field-field-image img {
    height: auto;
    max-width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/articles_feature\/_view_articles_teaser\.scss}line{font-family:\0000338}}
.view-display-id-articles_teaser .views-field-view-node a, .view-display-id-articles_grid .views-field-view-node a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: .1em .6em;
  border: 3px solid #81642b;
  background: #81642b;
  color: #fff;
  font-size: 15px;
  font-size: 1.5rem;
  -webkit-transition: all, 300ms;
  -moz-transition: all, 300ms;
  -o-transition: all, 300ms;
  transition: all, 300ms; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/articles_feature\/_view_articles_teaser\.scss}line{font-family:\0000349}}
  .view-display-id-articles_teaser .views-field-view-node a:hover, .view-display-id-articles_grid .views-field-view-node a:hover, .view-display-id-articles_teaser .views-field-view-node a:focus, .view-display-id-articles_grid .views-field-view-node a:focus, .view-display-id-articles_teaser .views-field-view-node a:active, .view-display-id-articles_grid .views-field-view-node a:active {
    background: transparent;
    color: #81642b; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/navigation\/_breadcrumb\.scss}line{font-family:\000031}}
.breadcrumb {
  font-size: 14px;
  font-size: 1.4rem;
  margin: 0;
  padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/navigation\/_breadcrumb\.scss}line{font-family:\000036}}
  .breadcrumb li {
    list-style: none;
    font-weight: 600;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/navigation\/_breadcrumb\.scss}line{font-family:\0000312}}
  .breadcrumb .breadcrumb-seperator {
    margin: 0 .5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/navigation\/_main\.scss}line{font-family:\000032}}
.l-region--navigation .block--responsive-navigation-1 .block__title {
  border: 0;
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/navigation\/_main\.scss}line{font-family:\000036}}
.l-region--navigation .block--responsive-navigation-1 #nav-toggle {
  display: block;
  padding: .75em 5px;
  color: #fff;
  -webkit-transition: all, 300ms;
  -moz-transition: all, 300ms;
  -o-transition: all, 300ms;
  transition: all, 300ms; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/navigation\/_main\.scss}line{font-family:\0000312}}
  .l-region--navigation .block--responsive-navigation-1 #nav-toggle:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    *margin-right: .3em;
    content: "\f0c9";
    margin-right: 0.5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/navigation\/_main\.scss}line{font-family:\0000318}}
  .l-region--navigation .block--responsive-navigation-1 #nav-toggle:hover, .l-region--navigation .block--responsive-navigation-1 #nav-toggle:focus, .l-region--navigation .block--responsive-navigation-1 #nav-toggle:active {
    background-color: #333;
    border: none; }
  @media (min-width: 40em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/navigation\/_main\.scss}line{font-family:\000036}}
    .l-region--navigation .block--responsive-navigation-1 #nav-toggle {
      display: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/navigation\/_main\.scss}line{font-family:\0000328}}
.l-region--navigation .block--responsive-navigation-1 #nav .responsive-navigation {
  margin: 0;
  padding: 0;
  font-weight: 400; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/navigation\/_main\.scss}line{font-family:\0000335}}
  .l-region--navigation .block--responsive-navigation-1 #nav .responsive-navigation .leaf,
  .l-region--navigation .block--responsive-navigation-1 #nav .responsive-navigation .collapsed,
  .l-region--navigation .block--responsive-navigation-1 #nav .responsive-navigation .expanded {
    list-style-type: none;
    list-style-image: none; }
  @media (min-width: 40em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/navigation\/_main\.scss}line{font-family:\0000340}}
    .l-region--navigation .block--responsive-navigation-1 #nav .responsive-navigation li {
      width: auto;
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      margin-right: 1em;
      padding-right: 1em; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/navigation\/_main\.scss}line{font-family:\0000350}}
  .l-region--navigation .block--responsive-navigation-1 #nav .responsive-navigation a {
    display: block;
    padding: .75em 0;
    color: #f5f5f5;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: all, 100ms;
    -moz-transition: all, 100ms;
    -o-transition: all, 100ms;
    transition: all, 100ms; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/navigation\/_main\.scss}line{font-family:\0000359}}
    .l-region--navigation .block--responsive-navigation-1 #nav .responsive-navigation a:hover, .l-region--navigation .block--responsive-navigation-1 #nav .responsive-navigation a:focus, .l-region--navigation .block--responsive-navigation-1 #nav .responsive-navigation a:active {
      margin-bottom: -3px;
      border-top: 3px solid #fee000;
      border-bottom: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/navigation\/_main\.scss}line{font-family:\0000367}}
  .l-region--navigation .block--responsive-navigation-1 #nav .responsive-navigation .active-trail a,
  .l-region--navigation .block--responsive-navigation-1 #nav .responsive-navigation .active {
    color: #fee000; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/navigation\/_main\.scss}line{font-family:\0000371}}
  .l-region--navigation .block--responsive-navigation-1 #nav .responsive-navigation ul {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/navigation\/_secondary\.scss}line{font-family:\000033}}
.block--menu-block-sitenow-menu-block .menu {
  margin: 0;
  padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/navigation\/_secondary\.scss}line{font-family:\000037}}
  .block--menu-block-sitenow-menu-block .menu li {
    border-bottom: 1px solid #ccc;
    margin-bottom: .5em;
    padding-bottom: .5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/navigation\/_secondary\.scss}line{font-family:\0000315}}
  .block--menu-block-sitenow-menu-block .menu .leaf,
  .block--menu-block-sitenow-menu-block .menu .expanded,
  .block--menu-block-sitenow-menu-block .menu .collapsed {
    list-style-type: none;
    list-style-image: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/navigation\/_secondary\.scss}line{font-family:\0000321}}
  .block--menu-block-sitenow-menu-block .menu .collapsed,
  .block--menu-block-sitenow-menu-block .menu .expanded {
    position: relative;
    padding-right: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/navigation\/_secondary\.scss}line{font-family:\0000325}}
    .block--menu-block-sitenow-menu-block .menu .collapsed > a:after,
    .block--menu-block-sitenow-menu-block .menu .expanded > a:after {
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      text-decoration: inherit;
      -webkit-font-smoothing: antialiased;
      *margin-right: .3em;
      content: "\f107";
      color: #aaaaaa;
      position: absolute;
      right: 0;
      top: 3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/navigation\/_secondary\.scss}line{font-family:\0000332}}
    .block--menu-block-sitenow-menu-block .menu .collapsed > a.active:after,
    .block--menu-block-sitenow-menu-block .menu .expanded > a.active:after {
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      text-decoration: inherit;
      -webkit-font-smoothing: antialiased;
      *margin-right: .3em;
      content: "\f104"; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/navigation\/_secondary\.scss}line{font-family:\0000337}}
  .block--menu-block-sitenow-menu-block .menu a {
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/navigation\/_secondary\.scss}line{font-family:\0000342}}
    .block--menu-block-sitenow-menu-block .menu a:hover, .block--menu-block-sitenow-menu-block .menu a:focus, .block--menu-block-sitenow-menu-block .menu a:active {
      border-color: transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/navigation\/_secondary\.scss}line{font-family:\0000347}}
  .block--menu-block-sitenow-menu-block .menu ul {
    margin-top: .5em;
    font-size: 14px;
    font-size: 1.4rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/navigation\/_secondary\.scss}line{font-family:\0000351}}
    .block--menu-block-sitenow-menu-block .menu ul li {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/navigation\/_secondary\.scss}line{font-family:\0000357}}
    .block--menu-block-sitenow-menu-block .menu ul ul {
      padding-left: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/navigation\/_social_media\.scss}line{font-family:\000032}}
#sitenow-footer-social-links ul {
  margin: 0;
  padding: 0;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/navigation\/_social_media\.scss}line{font-family:\000038}}
#sitenow-footer-social-links li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0 .5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/navigation\/_social_media\.scss}line{font-family:\0000313}}
#sitenow-footer-social-links a {
  display: block;
  font-size: 12px;
  font-size: 1.2rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/navigation\/_social_media\.scss}line{font-family:\0000318}}
#sitenow-footer-social-links a:before {
  margin-right: .3em;
  font-size: 25px;
  font-size: 2.5rem;
  position: relative;
  top: 4px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/navigation\/_social_media\.scss}line{font-family:\0000325}}
#sitenow-footer-social-links a[href*="facebook.com"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f082"; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/navigation\/_social_media\.scss}line{font-family:\0000329}}
#sitenow-footer-social-links a[href*="twitter.com"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f099"; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/navigation\/_social_media\.scss}line{font-family:\0000333}}
#sitenow-footer-social-links a[href*="youtube.com"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f167"; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/components\/navigation\/_social_media\.scss}line{font-family:\0000337}}
#sitenow-footer-social-links a[href*="flickr.com"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f16e"; }

@media (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/abstractions\/_flexslider_full_width\.scss}line{font-family:\000034}}
  .flexslider .views-field-title {
    position: absolute;
    bottom: 0;
    background: url('../images/rgbapng/000000bf-5.png?1382112022');
    background: rgba(0, 0, 0, 0.75); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/abstractions\/_flexslider_full_width\.scss}line{font-family:\0000310}}
  .flexslider .views-field-slideshow-link {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/abstractions\/_flexslider_full_width\.scss}line{font-family:\0000314}}
    .flexslider .views-field-slideshow-link a {
      margin: 0; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/abstractions\/_ui_footer_region\.scss}line{font-family:\000033}}
.l-footer #ui-global-footer {
  background: transparent;
  border: none;
  -webkit-box-shadow: 0 0 0 white;
  -moz-box-shadow: 0 0 0 white;
  box-shadow: 0 0 0 white;
  padding: 0; }
  @media (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/abstractions\/_ui_footer_region\.scss}line{font-family:\000033}}
    .l-footer #ui-global-footer {
      float: left;
      margin-right: 4em; } }
@media (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/abstractions\/_ui_footer_region\.scss}line{font-family:\0000315}}
  .l-footer .sitenow-footer-info {
    float: left; } }
@media (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/abstractions\/_ui_footer_region\.scss}line{font-family:\0000321}}
  .l-footer #sitenow-footer-social-links {
    float: right; } }
