@media all and (max-width: 800px) {
  #toolbar, #admin-menu {
    display: none;
  }

  html body.toolbar, html body.admin-menu {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }
}
.omega-browser-width {
  z-index: 999999;
}

.panels-choose-layout .current-layout {
  background: #E6F9FF;
}
