/*******************************************************************************
 * aries.layout.scss
 *
 * Styling of the "Aries" layout
 * grids with Singularity.
 ******************************************************************************/
@media (min-width: 500px) and (max-width: 749px) {
  .has-no-sidebars .aries-region--first .views-grid .views-row, .aries-region--first .views-grid .has-no-sidebars .views-row,
  .has-no-sidebars .aries-region--fourth .views-grid .views-row,
  .aries-region--fourth .views-grid .has-no-sidebars .views-row {
    width: 49.15254%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 1.69492%;
  }
  .has-no-sidebars .aries-region--first .views-grid .views-row:nth-child(odd), .aries-region--first .views-grid .has-no-sidebars .views-row:nth-child(odd),
  .has-no-sidebars .aries-region--fourth .views-grid .views-row:nth-child(odd),
  .aries-region--fourth .views-grid .has-no-sidebars .views-row:nth-child(odd) {
    width: 49.15254%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 1.69492%;
    clear: both;
  }
  .has-no-sidebars .aries-region--first .views-grid .views-row:nth-child(even), .aries-region--first .views-grid .has-no-sidebars .views-row:nth-child(even),
  .has-no-sidebars .aries-region--fourth .views-grid .views-row:nth-child(even),
  .aries-region--fourth .views-grid .has-no-sidebars .views-row:nth-child(even) {
    width: 49.15254%;
    clear: right;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 750px) and (max-width: 999px) {
  .has-no-sidebars .aries-region--first .views-grid .views-row, .aries-region--first .views-grid .has-no-sidebars .views-row,
  .has-no-sidebars .aries-region--fourth .views-grid .views-row,
  .aries-region--fourth .views-grid .has-no-sidebars .views-row {
    width: 32.20339%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 1.69492%;
  }
  .has-no-sidebars .aries-region--first .views-grid .views-row:nth-child(3n+1), .aries-region--first .views-grid .has-no-sidebars .views-row:nth-child(3n+1),
  .has-no-sidebars .aries-region--fourth .views-grid .views-row:nth-child(3n+1),
  .aries-region--fourth .views-grid .has-no-sidebars .views-row:nth-child(3n+1) {
    width: 32.20339%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 1.69492%;
    clear: both;
  }
  .has-no-sidebars .aries-region--first .views-grid .views-row:nth-child(3n+3), .aries-region--first .views-grid .has-no-sidebars .views-row:nth-child(3n+3),
  .has-no-sidebars .aries-region--fourth .views-grid .views-row:nth-child(3n+3),
  .aries-region--fourth .views-grid .has-no-sidebars .views-row:nth-child(3n+3) {
    width: 32.20339%;
    clear: right;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 1000px) {
  .has-no-sidebars .aries-region--first .views-grid .views-row, .aries-region--first .views-grid .has-no-sidebars .views-row,
  .has-no-sidebars .aries-region--fourth .views-grid .views-row,
  .aries-region--fourth .views-grid .has-no-sidebars .views-row {
    width: 32.20339%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 1.69492%;
  }
  .has-no-sidebars .aries-region--first .views-grid .views-row:nth-child(3n+1), .aries-region--first .views-grid .has-no-sidebars .views-row:nth-child(3n+1),
  .has-no-sidebars .aries-region--fourth .views-grid .views-row:nth-child(3n+1),
  .aries-region--fourth .views-grid .has-no-sidebars .views-row:nth-child(3n+1) {
    width: 32.20339%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 1.69492%;
    clear: both;
  }
  .has-no-sidebars .aries-region--first .views-grid .views-row:nth-child(3n+3), .aries-region--first .views-grid .has-no-sidebars .views-row:nth-child(3n+3),
  .has-no-sidebars .aries-region--fourth .views-grid .views-row:nth-child(3n+3),
  .aries-region--fourth .views-grid .has-no-sidebars .views-row:nth-child(3n+3) {
    width: 32.20339%;
    clear: right;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 1000px) {
  .has-no-sidebars .aries-region--second .views-grid .views-row, .aries-region--second .views-grid .has-no-sidebars .views-row {
    width: 49.15254%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 1.69492%;
  }
  .has-no-sidebars .aries-region--second .views-grid .views-row:nth-child(odd), .aries-region--second .views-grid .has-no-sidebars .views-row:nth-child(odd) {
    width: 49.15254%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 1.69492%;
    clear: both;
  }
  .has-no-sidebars .aries-region--second .views-grid .views-row:nth-child(even), .aries-region--second .views-grid .has-no-sidebars .views-row:nth-child(even) {
    width: 49.15254%;
    clear: right;
    float: right;
    margin-right: 0;
  }
}

.panel-display--aries {
  *zoom: 1;
}
.panel-display--aries:after {
  content: "";
  display: table;
  clear: both;
}

.aries-region {
  margin-bottom: 40px;
}

@media (min-width: 750px) {
  .aries-region--second {
    width: 57.44681%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 2.12766%;
    clear: both;
  }

  .aries-region--third {
    width: 40.42553%;
    clear: right;
    float: right;
    margin-right: 0;
  }

  .aries-region--fourth {
    width: 100%;
    clear: right;
    float: right;
    margin-right: 0;
    clear: both;
  }
}
