@import "mixins";

%simple-list {
  .item-list ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin-bottom: .5em;
      padding-bottom: .5em;
      border-bottom: 1px dotted #ddd;
    }
  }
}

%box-shadow-1 {
  // shadow
  background-color: #fff;
  position: relative;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  @include inline-block;
  max-width: 100%;

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 10px;
    right: 10px;
    height: 20px;
    background-color: #000;
    @include border-radius(50%);
    @include box-shadow(0px 0px 8px 5px rgba(0,0,0,.2));
    z-index: -1;
  }

  &:before {
    top: 0px;
  }

  &:after {
    bottom: -4px;
  }
}

%views-read-more,
%btn-filled {
    @include inline-block;
    padding: .1em .6em;
    border: 3px solid $link-color-default;
    background: $link-color-default;
    color: #fff;
    @include font-size(1.5);
    @include transition(all, 300ms);

    &:hover,
    &:focus,
    &:active {
      background: transparent;
      color: $link-color-default;
    }
  }
