/*******************************************************************************
 * colossus.layout.scss
 *
 * Styling of the "Colossus" layout
 * grids with Singularity.
 ******************************************************************************/
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "../../variables/breakpoints";

// Set Singularity grid variables.
$grids: 1;
$grids: add-grid(8 4 at $bp-tablet);
$grids: add-grid(9 3 at $bp-desktop);

$gutters: 1/3;

.panel-display--colossus {
  @include pie-clearfix;
}

.colossus-region {
  margin-bottom: $vert-spacing-unit;
}


@include breakpoint($bp-tablet) {
  .has-one-sidebar {
    .colossus-region--first {
      @include grid-span(1, 1);
    }
    .colossus-region--second {
      @include isolation-span(1, 2);
    }
  }
  .has-two-sidebars {
    .colossus-region--first {
      @include grid-span(1, 1);
    }
    .colossus-region--second {
      @include isolation-span(1, 2);
    }
  }
}

@include breakpoint($bp-desktop, true) {
  .has-no-sidebars,
  .panels-dnd {
    .colossus-region--first {
      @include grid-span(1, 1);
    }
    .colossus-region--second {
      @include grid-span(1, 2);
    }
  }
  .has-one-sidebar {
    @include layout(2 1, $gutter: .12) {
      .colossus-region--first {
        @include grid-span(1, 1);
      }
      .colossus-region--second {
        @include grid-span(1, 2);
      }
    }
  }
  .has-two-sidebars {
    .colossus-region--first,
    .colossus-region--second {
      @include grid-span(2, 1);
    }
  }
}
