$vert-spacing-unit: 40px;
$horz-spacing-unit: 1em;
$page-max-width: 1250px;

$desk: $page-max-width;
$tab: 700px;
$mobile: 500px;

$tab-only: $tab ($desk - 1px);
$mobile-only: max-width ($mobile - 1px);
