/*******************************************************************************
 * icarus.layout.scss
 *
 * Styling of the "icarus" layout
 * grids with Singularity.
 ******************************************************************************/
.panel-display--icarus {
  *zoom: 1;
}
.panel-display--icarus:after {
  content: "";
  display: table;
  clear: both;
}

.icarus-region {
  margin-bottom: 40px;
}

@media (min-width: 750px) {
  .has-no-sidebars .icarus-region--first,
  .has-one-sidebar .icarus-region--first,
  .panels-dnd .icarus-region--first {
    width: 48.64865%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  .has-no-sidebars .icarus-region--second,
  .has-one-sidebar .icarus-region--second,
  .panels-dnd .icarus-region--second {
    width: 48.64865%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  .has-two-sidebars .icarus-region--first {
    width: 48.64865%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  .has-two-sidebars .icarus-region--second {
    width: 48.64865%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
