thead {
  border-bottom: 1px solid $yellow;
  margin-bottom: 1em;
}

th {
  background: transparent;
  @include font-size(1.6);

  .active {
    color: $link-color-blue;
  }

  img {
    position: relative;
    top: 3px;
    float: right;
  }
}

th.active {
  @include rgba-background(rgba(71, 126, 194, .1));
}

tr.odd,
tr.even {
  background: transparent;
}

tr.even {
  background: #f1f1f1;
}

th,
td {
  padding: .3em;
}

td.active {
  @include rgba-background(rgba(71, 126, 194, .1));
  color: #333;
}


