/*******************************************************************************
 * sidebar-right.layout.scss
 *
 * Styling of the "Golden" layout demonstrating the golden rule and asymmetric
 * grids with Singularity.
 ******************************************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/layouts\/sidebar-right\/sidebar-right\.layout\.scss}line{font-family:\0000326}}
.panel-display--sidebar-right {
  *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ajdelaney\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.uiowa_standard\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
  .panel-display--sidebar-right:after {
    content: "";
    display: table;
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/layouts\/sidebar-right\/sidebar-right\.layout\.scss}line{font-family:\0000330}}
.sidebar-right-region {
  margin-bottom: 20px; }

@media (min-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/layouts\/sidebar-right\/sidebar-right\.layout\.scss}line{font-family:\0000337}}
  .has-one-sidebar .sidebar-right-region--first {
    width: 64.86486%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/layouts\/sidebar-right\/sidebar-right\.layout\.scss}line{font-family:\0000340}}
  .has-one-sidebar .sidebar-right-region--second {
    width: 32.43243%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/layouts\/sidebar-right\/sidebar-right\.layout\.scss}line{font-family:\0000345}}
  .has-two-sidebars .sidebar-right-region--first {
    width: 64.86486%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/layouts\/sidebar-right\/sidebar-right\.layout\.scss}line{font-family:\0000348}}
  .has-two-sidebars .sidebar-right-region--second {
    width: 32.43243%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }
@media (min-width: 1250px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/layouts\/sidebar-right\/sidebar-right\.layout\.scss}line{font-family:\0000356}}
  .has-no-sidebars .sidebar-right-region--first {
    width: 72.97297%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/layouts\/sidebar-right\/sidebar-right\.layout\.scss}line{font-family:\0000359}}
  .has-no-sidebars .sidebar-right-region--second {
    width: 24.32432%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/layouts\/sidebar-right\/sidebar-right\.layout\.scss}line{font-family:\0000365}}
  .has-one-sidebar .sidebar-right-region--first {
    width: 64.10256%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/layouts\/sidebar-right\/sidebar-right\.layout\.scss}line{font-family:\0000368}}
  .has-one-sidebar .sidebar-right-region--second {
    width: 32.05128%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/sitenow\/standard\/sites\/all\/themes\/uiowa_standard\/sass\/layouts\/sidebar-right\/sidebar-right\.layout\.scss}line{font-family:\0000375}}
  .has-two-sidebars .sidebar-right-region--first,
  .has-two-sidebars .sidebar-right-region--second {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }
