.breadcrumb {
  @include font-size(1.4);
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    font-weight: $font-weight-semi-bold;
    @include inline-block;
  }

  .breadcrumb-seperator {
    margin: 0 .5em;
  }
}
