@mixin flexslider_title_overlay {
  .flexslider {

    .flex-caption{
      position: absolute;
      bottom: 0;
      @include rgba-background(rgba(0,0,0,0.75));
    }

    .views-field-slideshow-link {
      @include inline-block;
      float: right;

      a {
        margin: 0;
      }
    }
  }
}

// We may want to break these into a states partial and look for page and content
// layouts to control the title_overlay implementaiton of this view
@include breakpoint($bp-desktop) {
  @include flexslider_title_overlay;
}


