/*******************************************************************************
 * standard.layout.scss
 *
 * Styling of the "standard" layout
 * grids with Singularity.
 ******************************************************************************/
.l-container,
.container {
  width: 95%;
  max-width: 1250px;
  margin: 0 auto;
  *zoom: 1;
}
.l-container:after,
.container:after {
  content: "";
  display: table;
  clear: both;
}

.l-main {
  margin-top: 40px;
}

@media (min-width: 500px) {
  /* Content Area */
  .l-content {
    width: 100.0%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* Sidebars */
  .has-one-sidebar .l-region--sidebar-first,
  .has-one-sidebar .l-region--sidebar-second {
    width: 100.0%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: both;
  }

  .has-two-sidebars .l-region--sidebar-first {
    width: 48.64865%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: both;
  }
  .has-two-sidebars .l-region--sidebar-second {
    width: 48.64865%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 1000px) {
  .has-one-sidebar.has-sidebar-first .l-content {
    width: 73.68421%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  .has-one-sidebar.has-sidebar-first .l-region--sidebar-first {
    width: 23.68421%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }

  .has-one-sidebar.has-sidebar-second .l-content {
    width: 73.68421%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  .has-one-sidebar.has-sidebar-second .l-region--sidebar-second {
    width: 23.68421%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* Content Area */
  .has-two-sidebars .l-content {
    width: 73.68421%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  .has-two-sidebars .l-region--sidebar-first {
    width: 23.68421%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  .has-two-sidebars .l-region--sidebar-second {
    width: 23.68421%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: left;
  }
}
@media (min-width: 1250px) {
  /* Header Area */
  .l-header {
    *zoom: 1;
  }
  .l-header:after {
    content: "";
    display: table;
    clear: both;
  }

  .l-region--navigation {
    clear: both;
  }

  /* Content Area */
  .l-content {
    width: 100.0%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  .has-one-sidebar.has-sidebar-first .l-content {
    width: 73.68421%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  .has-one-sidebar.has-sidebar-first .l-region--sidebar-first {
    width: 23.68421%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }

  .has-one-sidebar.has-sidebar-second .l-content {
    width: 73.68421%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  .has-one-sidebar.has-sidebar-second .l-region--sidebar-second {
    width: 23.68421%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  .has-two-sidebars .l-content {
    width: 47.36842%;
    float: left;
    margin-right: -100%;
    margin-left: 26.31579%;
    clear: none;
  }
  .has-two-sidebars .l-region--sidebar-first {
    width: 23.68421%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  .has-two-sidebars .l-region--sidebar-second {
    width: 23.68421%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
