/*******************************************************************************
 * aries.layout.scss
 *
 * Styling of the "Aries" layout
 * grids with Singularity.
 ******************************************************************************/
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "../../variables/breakpoints";
@import "../../utilities/grids";
@import "../../utilities/mixins";

// Set Singularity grid variables.
$grids: 12;
$gutters: 1/3;

.panel-display--aries {
  @include pie-clearfix;
}

.aries-region {
  margin-bottom: $vert-spacing-unit;
  //@include background-grid;
}

// Page reactions
@include breakpoint($bp-tablet) {
  .aries-region--second {
    @include float-span(7, alpha);
  }
  .aries-region--third {
    @include float-span(5, omega);
  }
  .aries-region--fourth {
    @include float-span(12, alpha);
  }
}

// Views grid reactions
.aries-region--first,
.aries-region--fourth {
  .views-grid .views-row {
    @extend %full-width-grid-3;
  }
}

.aries-region--second .views-grid .views-row {
  @extend %full-width-grid-2;
}
